[submodule "Celsius-Fahrenheit-Converter"]
	path = Celsius-Fahrenheit-Converter
	url = https://github.com/SpikePy/Celsius-Fahrenheit-Converter.git
[submodule "Blog"]
	path = Blog
	url = https://github.com/SpikePy/Blog.git
[submodule "WingChun"]
	path = WingChun
	url = https://github.com/SpikePy/WingChun.git
[submodule "DHL-Packstation-Code"]
	path = DHL-Packstation-Code
	url = https://github.com/SpikePy/DHL-Packstation-Code.git
	branch = master
[submodule "BMI-Calculator"]
	path = BMI-Calculator
	url = https://github.com/SpikePy/BMI-Calculator.git
[submodule "RandomNumber"]
	path = RandomNumber
	url = https://github.com/SpikePy/RandomNumber.git
[submodule "Packstation_Fit"]
	path = Packstation_Fit
	url = https://github.com/SpikePy/Packstation_Fit.git
