body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 17px;
	margin: 0;
	line-height: 130%;
	background-image: url("background/sayagata-400px.png");
	background-attachment: fixed
	/*
	footer_lodyas.png
	sayagata-400px.png
	squairy_light.png
	squairy_light_@2X.png
	stardust.png
	stardust_@2X.png
	tweed.png
	tweed_@2X.png
	*/
}

#header {
	height: 60px;
	width: 85%;
	margin: auto;
	text-align: center;
}

#header div {
	width: 10em;
	display: inline-block;
	padding: 8px;
	margin: 0 10px;
	border-radius: 0 0 10px 10px;
	color: #ffffff;
	background: rgb(125,125,125);
	background: rgba(0,0,0,.6);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header a {
	font-weight: bold;
	color: rgb(240,240,240);
	font-size: 1.2em;
	text-decoration: none;
}

.blogEntry{
	width: 85%;
	max-width: 1024px;
	margin: 30px auto 80px auto;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.blogHeading {
	background: rgb(125,125,125);
	background: rgba(0,0,0,.6);
	color: rgb(240,240,240);
	border-radius: 10px 0 0 0;
	text-align: left;
	width: 100%;
	display: inline-block;
}

.innerBlogHeading {
	padding: 10px 20px;
}


.innerBlogHeading img,
.innerBlogHeading h2,
.innerBlogHeading div  {
	display: inline-block;
	vertical-align: middle;
}

.date {
	text-align: right;
	width: 5em;
}
.date p {
	margin: 0;
}
.headline {
	line-height: 120%;
	width: calc(100% - 5.5em);
}

.icon {
	width: 2em;
	margin-right: 10px;
	display: inline-block;
}



.blogBody {
	background: rgb(250,250,250);
	background: rgba(250,250,250,.65);
	padding: 20px 20px 15px;
	/*border-style: solid;
	border-color: rgba(0,0,0,.6);
	border-width: 0 2px 2px 2px;*/
	overflow-wrap: break-word;
}
.blogBody a {
	color: DodgerBlue;
	text-decoration: none;
}
.blogBody a:hover {
	text-decoration: underline;

}
.blogBody > img {
	display: block;
	margin: 40px auto 40px;
	width: 100%;
	max-width: 100%;
}

code {
	font-family: monospace;
	font-size: .8em;
	padding: 2px 8px;
	background: rgb(1, 36, 86);
	background: DimGray;
	color: rgb(255, 255, 255);
}

.comparison {
	margin: 40px 0;
}
.comparison img, .comparison p {
	display: inline-block;
	text-align: center;
	width: 50%;
}
