body{
        font-family: Helvetica, Arial, sans-serif;
        background-image: url("background/sayagata-400px.png");
        background-attachment: fixed
        /*
        footer_lodyas.png
        sayagata-400px.png
        squairy_light.png
        squairy_light_@2X.png
        stardust.png
        stardust_@2X.png
        tweed.png
        tweed_@2X.png
        */

}

#header {
    height: 60px;
    margin-top: -15px;
    background: rgba(0,100,0,.0);
}
#header div {
    width: auto;
    height: inherit;
    text-align: center;
}

#header ul {
    list-style-type: none;
}

#header li {
	/*Add your CSS here!*/
	display: inline-block;
	padding: 10px 40px;
        margin: 10px 10px;
	color: #ffffff;
        background: rgba(0,0,0,.2);
}

.blogEntry{
        background: rgba(250,250,250,.7);
        width: 85%;
        margin: 40px auto 70px auto;
        border-radius: 10px 10px 0px 0px;
        border: 1px solid rgba(70,70,70,.5);
}

h2{
        background: rgba(0,0,0,.5);
        color: white;
        padding: 15px;
        margin: 0px 0px;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
}

.blogBody{
    padding: 25px 25px;
}

.code {
        font-family: monospace;
        padding: 2px 8px;
        background: rgb(1, 36, 86);
        color: rgb(255, 255, 255);
}

img.svg {
        width: 100%;
        max-width: 1280px;
}
