:root {
  --title:      #1985a1;
  --headline:   #dcdcdd;
  --link:       #c5c3c6;
  --background: url("images/background/footer_lodyas.png");
  /*
  --background: url("images/background/footer_lodyas.png");
  --background: url("images/background/tweed.pn");
  --background: url("images/background/tweed_@2X.pn");
  --background: url("images/background/stardust.pn");
  --background: url("images/background/stardust_@2X.pn");
  --background: url("images/background/squairy_light.pn");
  --background: url("images/background/squairy_light_@2X.pn");
  --background: url("images/background/sayagata-400px.pn");
  */
}

html {
    font-family: sans-serif;
    text-align: center;
    background: #353535;
  	background-attachment: fixed;
    background-image: var(--background);

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select:   none;
    -o-user-select:     none;
    user-select:        none;
}

h1 {
  font-size: 4em;
  color:  var(--title);
}

h2 {
  font-size: 2.5em;
  color: var(--headline);
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
  margin: 1em;
  height: 1em;
}

a {
  text-decoration: none;
  color: var(--link);
  transition: all .5s ease;
}
a:visited {
  color: var(--link);
}
a:hover {
  /* color:  rgb(50, 50, 50); */
  font-size: 1.2em
}
